@tailwind base;
@tailwind components;


:root {
    --color-pg: #5D739D;
    --color-server: #6e5d9d;
    --color-sec: #5D989D;
    --color-creative: #9D5D5D;
}


@layer components {
    body {
        @apply relative font-ja-go font-ja-min text-sm text-gray-600 min-h-screen
    }
    body::before {
        @apply content-[''] absolute w-full h-full z-[-1] bg-gray-200 opacity-30
    }
    .bookmarkContent-list {
        @apply overflow-x-scroll md:overflow-x-auto mb-4 py-4 mx-4 md:mx-6
    }
    .bookmarkContent-list ul {
        @apply w-[200%] flex md:w-auto md:mx-auto md:max-w-7xl md:grid md:gap-2 md:grid-cols-5
    }
    .bookmarkContent-list li {
        @apply grid grow
    }
    .bookmarkContent-list li[data-sel="true"] button {
        @apply text-white pointer-events-none
    }
    .bookmarkContent-list li[data-sel="true"][data-cat="pg"] button {
        @apply bg-[var(--color-pg)] border-[var(--color-pg)]
    }
    .bookmarkContent-list li[data-sel="true"][data-cat="server"] button {
        @apply bg-[var(--color-server)] border-[var(--color-server)]
    }
    .bookmarkContent-list li[data-sel="true"][data-cat="sec"] button {
        @apply bg-[var(--color-sec)] border-[var(--color-sec)]
    }
    .bookmarkContent-list li[data-sel="true"][data-cat="creative"] button {
        @apply bg-[var(--color-creative)] border-[var(--color-creative)]
    }
    .bookmarkContent-list button {
        @apply flex flex-col w-full text-gray-500 box-border py-2 transition-colors border-y border-gray-400 items-center px-4 md:border md:px-1
    }
    .bookmarkContent-list button:hover {
        @apply bg-gray-400 text-white
    }
    .bookmarkList {
        @apply mx-4 md:mx-6
    } 
    .bookmarkList-inner {
        @apply max-w-3xl mx-auto
    } 
    .bookmarkList h2 {
        @apply bg-gray-400 text-white
    }
    .bookmarkList[data-cat="pg"] h2 {
        @apply bg-[var(--color-pg)]
    }
    .bookmarkList[data-cat="server"] h2 {
        @apply bg-[var(--color-server)]
    }
    .bookmarkList[data-cat="sec"] h2 {
        @apply bg-[var(--color-sec)]
    }
    .bookmarkList[data-cat="creative"] h2 {
        @apply bg-[var(--color-creative)]
    }
    .bookmarkBox thead {
        @apply hidden
    }
    .bookmarkBox table,
    .bookmarkBox tbody,
    .bookmarkBox tr,
    .bookmarkBox th,
    .bookmarkBox td {
        @apply flex flex-wrap w-full
    }
    .bookmarkBox table {
        @apply border-spacing-0
    }
    .bookmarkBox tr {
        @apply flex-col relative pt-10 pr-16 pb-4 pl-6 box-border min-h-[160px] text-gray-500 bg-white border-separate border border-gray-300 transition-shadow z-[1]
    }
    .bookmarkBox tr::before {
        @apply content-[''] absolute w-full h-full top-0 left-0 bg-gray-400 z-[-1] opacity-0 transition-opacity
    }
    .bookmarkList[data-cat="pg"] .bookmarkBox tr::before {
        @apply bg-[var(--color-pg)]
    }
    .bookmarkList[data-cat="server"] .bookmarkBox tr::before {
        @apply bg-[var(--color-server)]
    }
    .bookmarkList[data-cat="sec"] .bookmarkBox tr::before {
        @apply bg-[var(--color-sec)]
    }
    .bookmarkList[data-cat="creative"] .bookmarkBox tr::before {
        @apply bg-[var(--color-creative)]
    }
    .bookmarkBox tr:hover {
        @apply shadow-lg
    }
    .bookmarkBox tr:hover::before {
        @apply opacity-10
    }
    .bookmarkBox tr + tr {
        @apply mt-2
    }
    .bookmarkBox tr td:nth-of-type(1) {
        @apply absolute left-3 top-2 z-10 font-bold
    }
    .bookmarkList[data-cat="pg"] .bookmarkBox tr td:nth-of-type(1) {
        @apply text-[var(--color-pg)]
    }
    .bookmarkList[data-cat="server"] .bookmarkBox tr td:nth-of-type(1) {
        @apply text-[var(--color-server)]
    }
    .bookmarkList[data-cat="sec"] .bookmarkBox tr td:nth-of-type(1) {
        @apply text-[var(--color-sec)]
    }
    .bookmarkList[data-cat="creative"] .bookmarkBox tr td:nth-of-type(1) {
        @apply text-[var(--color-creative)]
    }
    .bookmarkBox tr td:nth-of-type(2) {
        @apply text-base md:text-xl
    }
    .bookmarkBox tr td:nth-of-type(3) a {
        @apply flex h-full w-full justify-end items-center pr-2 text-white absolute left-0 top-0 z-20
    }
    .bookmarkBox tr td:nth-of-type(3) a::before {
        @apply content-[''] absolute w-8 h-full bg-gray-400 z-[-1] right-0 top-0 transition-colors
    }
    .bookmarkList[data-cat="pg"] .bookmarkBox tr td:nth-of-type(3) a:hover::before  {
        @apply bg-[var(--color-pg)]
    }
    .bookmarkList[data-cat="server"] .bookmarkBox tr td:nth-of-type(3) a:hover::before  {
        @apply bg-[var(--color-server)]
    }
    .bookmarkList[data-cat="sec"] .bookmarkBox tr td:nth-of-type(3) a:hover::before  {
        @apply bg-[var(--color-sec)]
    }
    .bookmarkList[data-cat="creative"] .bookmarkBox tr td:nth-of-type(3) a:hover::before  {
        @apply bg-[var(--color-creative)]
    }
    .bookmarkBox tr td:nth-of-type(4) {
        @apply text-gray-400 inline-block mt-1 text-xs md:text-sm
    }
    .bookmarkBox tr td:nth-of-type(4)::before {
        @apply content-[''] border-t border-gray-400 w-6 inline-block align-middle mr-1
    }
    .footer-list {
        @apply max-w-3xl mx-auto flex flex-col justify-center gap-2 text-gray-600 md:flex-row text-xs md:gap-4
    }
    .footer-list a::before {
        @apply content-['＞'] pr-1
    }
    .footer-list a:hover {
        @apply underline
    }
    .footer-list2 {
        @apply max-w-3xl mx-auto flex justify-center gap-2 text-gray-600 md:flex-row text-xs
    }
    .footer-list2 a::before {
        @apply content-['・']
    }
    .footer-list2 a:hover {
        @apply underline
    }
  }
  


@tailwind utilities;